{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ player }}{% endblock %}

{% block content %}
<div class="container">

  <div>
    <h2>{{ player }}</h2>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Season</th>
          <th>MMR</th>
        </tr>
      </thead>
      {% for season in seasons %}
        <tr>
          <th>{{ season }}</th>
          <td>{{ season.mmr }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
